.button{
    background-color: #EFC900;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bold;
}

.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}


@media only screen and (max-width: 768px){
    .button{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}