@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&family=Roboto:ital,wght@0,100;0,500;1,100&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baselin2e;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**  END OF RESET CSS **/

:root{
    --mainBackgroundColor: #1F2327;
    --gold: #EFC900;
    --topSectionSpacing: 16.6%;
    --formBackgroundColor: #2C3034;
    --formInputBackgroundColor: #1F2327;
}

html,body{
  overflow-x:hidden;
}

body{
  background-color: var(--mainBackgroundColor);
  font-family: Roboto;
}

h1{
  font-family: "Roboto Slab";
  color: var(--gold);
  font-size: 5em;
  font-weight: 200;
  margin-bottom: 41px;
  line-height: 127px;
}

h2{
  font-family: "Roboto Slab";
  color: var(--gold);
  font-weight: 200;
  font-size: 2em;
  margin-bottom: 41px;
}

input,textarea {
  font-family: Roboto;
}

p{
  font-family: Roboto;
  color: white;
  font-weight: 100;
  font-size: 1em;
}


#bio{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


textarea{
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  resize: none;

  width: 100%;
  background-color: var(--formInputBackgroundColor);
  border-radius: 5px;
  overflow: hidden;
  border: none;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}


footer{
  display: flex;
  justify-content: center;
  align-items :center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Rectangle 1 */

main{
  padding-top: 100px;
}



@media only screen and (max-width: 1119px) {

  h1 {
    font-size: 3rem;
    line-height: 60px;
  }

  h2{
    font-size: 2rem;
  }

  #bio{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  #expertise-and-skills{
    margin-top: 150px;
  }

  .section{
    height: 100vh;
  }

  #contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form{
    width: 100%;
  }
  

  .contact-col-1{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
  }

}