/** Navigation Styles **/

/** Bio **/

@keyframes moveIn{
    from {
        position: relative;
        left: -100vh; 
    }

    to {
        position: relative;
        left: 0;
    }
}

.main{
    width: 71.04%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.profileImageContainer{
    position: relative;
    width: 252px;
    height: 252px;
    border-radius: 50%;
    overflow: hidden;
    animation: moveIn 1s;
}


.section{

    min-height: 100vh;
}

.hint{
    color: var(--gold);
    font-size: 16px;
}

.bioSectionCol1{
    width: 45%;
}

.bioSectionCol2{
    width: 90%;
}


.bioParagraph{
    text-align: justify;
    margin-bottom: 50px;
    line-height: 24px;
    letter-spacing: 0.5;
}

.icons{
   margin-right: 30px;
}

/** Expertise & Skills **/

/** **/
@-webkit-keyframes flipCard {

    from { transform: rotateY(0)}
    to { transform: rotateY(180deg)}    
}

@keyframes flipCard {

    from { transform: rotateY(0)}
    to { transform: rotateY(180deg)}
    
}


.skillCards{
    display: flex;
    flex-direction: row;
}

.skillCardBox {
    perspective: 800px;
    transition: all 0.3s ease 0s;
}


.skillCardBox:hover .skillCard {
    animation: flipCard 1s;
    transform: rotateY(180deg);
}


.skillCard{
    transform-style: preserve-3d;
}



.skillCardFront,.skillCardBack{
    backface-visibility: hidden;
    box-sizing: border-box;
    position: relative;
    width: 349px;
    height: 433px;
    margin-left: 5px;
    cursor: pointer;
}

.skillCardBack{
    position: relative;
    top: -433px;
    z-index: -1;
    left: 0;
    transform: rotateY(180deg)
}


.skillCardBack{
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.skillCardBack h3{
    font-weight: bold;
    color: white;
}

.skillCardBack h4{
    font-weight: bold;
    color: white;
}

.skillCardBack p{
    color: white;
    font-style: italic;
    margin-top: 5px;
}

.skillCardBackInnerWrapper{
    text-align: left;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skillCardFrontLabelContainer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillCardFront p {
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}



/* Porfolio  */
.portfolioProjects {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.portfolioProject{
    width: 320px;
    height: 300px;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}


.portfolioImageContainer{
    background-color: green;
    position: relative;
    width: 320px;
    height: 268px;
    margin-bottom: 10px;
    overflow: hidden;
}

.projectTitle{
   font-style: italic;
}

.projectDetailsInner{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

/** Certification Section * */

.certifications{
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.certification{
    width: 320px;
    height: 300px;
    margin-right: 40px;
}


.certificationImageContainer{
    background-color: green;
    position: relative;
    width: 320px;
    height: 268px;
    margin-bottom: 10px;
    overflow: hidden;
}

/** FORM ***/


.form{
    background-color: var(--formBackgroundColor);
    width: 455px;
    padding: 66px 29px 28px 29px;
    border-radius: 20px;
}

.formTitle{
    font-family: "Roboto Slab";
    font-size: 27px;
    font-weight: bold;
    color: white;
}

.formSubtitle {
    margin-top: 14px;
}

.name,.email{
    background-color: var(--formInputBackgroundColor);
    height: 40px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}


.formGroup{
    margin-top: 31px;
}

.label{
    font-family: Roboto;
    display: block;
    color: white;
    margin-bottom: 10px;
}



.name,.email{
    color: white;
}

/** project details **/

.chevronRight{
    text-decoration: none;
    color: var(--gold);
}

.projectDetailsSectionInner{
    text-align: justify;
    /* background-color: red; */
    width: 100%;
    display: flex;
}

.projectDetailsCol1{
    width: 20%;
}

.projectDetailsCol2{
    width: 100%;
}


.projectDetailsTitleContainer{
    display: flex; 
    align-items: center;
}

.projectDetailsTitle{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
}

.projectDetailsPragraph{
    color: white;
    line-height: 24px;
    margin-top: 20px;
}


.me{
    color: white;
    font-weight: bold;
    font-style: none;
    text-decoration: none;
}

.role{
    font-weight: bold;
}

/** */



@keyframes bounce{
    0% { transform: scale(1);}
    50% { transform: scale(1.25)}
    100% { transform: scale(1)}
}

.contactSectionTitle {
    font-family: "Roboto Slab";
}

.heart{
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/** Responsive ** 

** Breakpoints: 1099 **/

.closeButtonContainer{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000 
}
@keyframes mainSlideDown {
    0% { margin-top: 100px }
    100% { margin-top: 300px }
}



 @media only screen and (max-width: 768px){
    .main{
        width: 100%;
        margin-top: 300px;
    }
    .nav{
        height: auto;
    }
    
    .skillCards{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    } 
    
    .skillCardBox{
        width: 100%;
    }

    .skillCard,.skillCardFront, .skillCardBack{
        width: 100%;
        height: 100vh;
        margin: 0;
    }

    .skillCardBack{
        top: -100vh;
    }

    .portfolioProjectsTitle {
        margin-top: 100px;
    }

    .portfolioProjects{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    
    .certifications {
        /* width: 100%; */
        display: flex; 
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    

    .portofolioImageContainer{
        width: 2000px;
    }

    .closeButtonContainer{
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 10000000;
    }

    .bioSectionCol1{
        width: 100%;
    }

    .bioSectionCol2{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
/** Contact Section **/
    
    .contactSectionTitle {
        margin-top: 100px;
    }
    
    .form{
        width: 100%;
        height: auto;
    }


    .contactCol2{
        width:100%;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
    }

    .formGroup button{
        width: 100%;
    }

    .projectDetailsSection{
        width: 92%;
    }
} 