/** Navigation Styles **/
.nav{
    background-color: var(--mainBackgroundColor);
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100000;
    top: 0; 
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex; 
    align-items: center;
}

.logo{
    display: inline-block;
    margin-right: 12.7%;
    font-size: 24px;
    color: white;
}

.logo a{
    text-decoration: none;
    color: white;
}


.logoCircle{
   color: var(--gold);
}

.links{
    width: 71.04%;
    /* height: 100%; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.link{
    display: inline-block;
    color: white;
    font-size: 16px;
}


.resume{
    display:inline-block;
    background-color: var(--gold);
    width: 14.66%;
    height: 50px;
    margin-left: 8.9%;
    text-align: center;
    border-radius: 24px;
}

.resume a {
    display: inline-block;
    font-weight: 700;
    padding-top: 15.5px;
    color: black;
    text-decoration: none;
}

.link a {
    color: white;
    text-decoration: none;
    line-height: auto;
}

/** Bio **/


.main{
    width: 71.04%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.profileImageContainer{
    position: relative;
    width: 252px;
    height: 252px;
    border-radius: 50%;
    overflow: hidden;
}


.section{
    margin-top: var(--topSectionSpacing);
    height: 100vh;
}

.bioSectionCol1{
    width: 45%;
}

.bioSectionCol2{
    width: 90%;
}


.bioParagraph{
    text-align: justify;
    margin-bottom: 50px;
    line-height: 24px;
    letter-spacing: 0.5;
}

.icons{
   margin-right: 30px;
}

/** Expertise & Skills **/


.flipCard {
    background-color: red;
    width: 300px;
    height: 300px;
    perspective: 1000px
  
  }
  
  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
  }
  
  .flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flipCardFront {
    background-color: #bbb;
    color: black;
  }
  
  .flipCardBack {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

/** **/
.skillCards, .skillCardsOpen{
    display: flex;
    flex-direction: row;
}

.skillCardsOpen{
    position: relative;
    top: -433px;
    z-index: -1;
    left: 0;
}

.skillCard,.skillCardOpen{
    position: relative;
    width: 349px;
    height: 433px;
    margin-left: 5px;
    cursor: pointer;
}

.skillCardOpen{
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.skillCardOpen h3{
    font-weight: bold;
    color: white;
}

.skillCardOpen h4{
    font-weight: bold;
    color: white;
}

.skillCardOpen p{
    color: white;
    font-style: italic;
    margin-top: 5px;
}

.skillCardOpenInnerWrapper{
    text-align: left;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skillCardLabelContainer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillCard p {
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.mobileDevelopmentSkillCard p {
    left: 129.5px;
}

.backendDevelopmentSkillCard p {
    left: 84px;
}

.otherSkillCard p{
    left: 149.5px;
}


/* Porfolio  */
.portfolioProjects {
    /* width: 100%; */
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.portfolioProject{
    width: 320px;
    height: 300px;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}


.portfolioImageContainer{
    background-color: green;
    position: relative;
    width: 320px;
    height: 268px;
    margin-bottom: 10px;
    overflow: hidden;
}

.projectTitle{
   font-style: italic;
}

/** Certification Section * */

.certifications{
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.certification{
    width: 320px;
    height: 300px;
    margin-right: 5px;
}


.certificationImageContainer{
    background-color: green;
    position: relative;
    width: 320px;
    height: 268px;
    margin-bottom: 10px;
    overflow: hidden;
}

/** FORM ***/


.form{
    background-color: var(--formBackgroundColor);
    width: 455px;
    padding: 66px 29px 28px 29px;
    border-radius: 20px;
}

.formTitle{
    font-size: 27px;
    font-weight: bold;
    color: white;
}

.formSubtitle {
    margin-top: 14px;
}

.name,.email{
    background-color: var(--formInputBackgroundColor);
    height: 40px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}


.formGroup{
    margin-top: 31px;
}

.label{
    display: block;
    color: white;
    margin-bottom: 10px;
}

.name,.email{
    color: white;
}

/** project details **/

.projectDetailsSectionInner{
    width: 100%;
    display: flex;
}

.projectDetailsCol1{
    width: 20%;
}

.projectDetailsCol2{
    width: 80%;
}

.projectDetailsCol2Inner{
}

.projectDetailsTitleContainer{
    background-color: red;
    display: flex; 
    align-items: center;
}

.projectDetailsTitle{
    font-size: 60px;
}

.projectDetailsPragraph{
    color: white;
    line-height: 24px;
    margin-top: 20px;
}